# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [78]:
# Write your answer here:
print("Mingke Tian")

Mingke Tian

<font size = "5">

Import the "pandas" and "numpy" library

In [79]:
# Write your answer here:
import numpy as np
import pandas as pd

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 12

In [80]:
# Write your answer here:
students = pd.read_csv("data_raw/students.csv")

bins_x = [-1, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels_x = ["F","D","C-","C","C+","B-","B","B+","A-","A"]

students["newgrade"] = pd.cut(students["numericgrade"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)
students["newgrade"]

0     C-
1      F
2      F
3      D
4     C+
5      A
6      F
7      F
8      F
9     C-
10     F
11     F
12    B-
13     A
14     F
15     F
16     F
17     D
18     B
19     F
20     F
21    A-
22     B
23     F
24    C-
Name: newgrade, dtype: category
Categories (10, object): ['F' < 'D' < 'C-' < 'C' ... 'B' < 'B+' < 'A-' < 'A']

<font size = "5">

For questions (b)-(e) use "sprint_results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/sprint_results.csv" to <br>
 a new object "sprint_results"

In [81]:
# Write your own code
sprint_results = pd.read_csv("data_raw/sprint_results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function `sprint_results.dtypes` to get the column data types
- Search for the "sprint_results" table in "codebook/f1_codebook.pdf".
- **Print if the type of the "position" column agree with the codebook?** <br>
i.e. is it an integer, float, or string/object?

HINT: See Lectures 12 and 13 for how to interpret the codebook

- Print the difference you observed between the codebook and the new dataframe you have created.

---
**Optional**
- Convert this `sprint_results.dtypes` object type into DataFrame and  the datatype of `position`.
- HINT: Use pd.DataFrame().reset_index <br>
`reset_index` is to convert the index to a column 
---





<span style = "color:blue"> There are other columns that has disparity with the codebook.\
Feel free to explore them! </span>

In [82]:
# Write your own code here
# Note: When you run "sprint_results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.
# sprint_results.info()

sprint_results.dtypes
result = sprint_results["position"].dtype
print("The type of the position column is " + str(result))
print("The type of the position column in codebook is int(11)")

The type of the position column is object
The type of the position column in codebook is int(11)

<font size = "5">

(c) Clean a column

<font size = "3">

- Our goal is to replace any string values in the column "position" <br>
to missing values (NaNs) and covert to numeric

- To do so
    1. Extract list of non-numeric values
    2. Replace certain list of values
    3. Convert column to numeric
    4. Display

In [84]:
# Write your own code here
# Create and store a list of non-numeric values
subset = sprint_results.query("position.str.isnumeric() == False")
list_unique = pd.unique(subset["position"])
print(list_unique)

['\\N']

In [85]:
# Create a list for replacement
list_old = ['\\N']
list_new = [np.nan]
sprint_results["position"] = sprint_results["position"].replace(list_old, list_new)
pd.to_numeric(sprint_results["position"])
display(sprint_results["position"])

0        1
1        2
2        3
3        4
4        5
      ...
115     16
116     17
117     18
118     19
119    NaN
Name: position, Length: 120, dtype: object

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggConstrcId_pos"

- Sort the aggregate dataset in ascending <br>
order of mean position using ".sort_values()" <br>
(i.e., to find the constructor with drivers having the best mean positions)

- Display

- Print which constructorId has the lowest mean position.

HINT: See Lecture 13 <br>

In [86]:
# Write your own code
df_aggConstrcld_pos = (sprint_results.groupby(["position","constructorId"])
                       .agg(mean_points = ('points','mean'),
                            sd_points =   ('points','std')))
df_aggConstrcld_pos.sort_values(by='mean_points',ascending=True)
display(df_aggConstrcld_pos)
print("The constructorId that has the lowest mean position can be 210")

                        mean_points  sd_points
position constructorId
1        9                 6.333333   2.886751
         131               4.666667   2.886751
10       51                0.000000        NaN
         117               0.000000   0.000000
         210               0.000000        NaN
...                             ...        ...
9        3                 0.000000        NaN
         9                 0.000000        NaN
         117               0.000000        NaN
         210               0.000000        NaN
         214               0.000000   0.000000

[75 rows x 2 columns]

The constructorId that has the lowest mean position can be 210

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 100'

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggConstr_pos"

- Display

Hint: See Lectures 9 and 11 (to refresh ".query()") and <br>
Lecture 13 for how to combine it with ".groupby()"

In [88]:
# Write your own code
df_subAggConstr_pos = (sprint_results.query("raceId >= 100")
                       .groupby(["constructorId"])
                        .agg(mean_points = ('points','mean'),
                             sd_points =   ('points','std')))
df_subAggConstr_pos

               mean_points  sd_points
constructorId
1                 0.833333   1.403459
3                 0.000000   0.000000
6                 3.000000   3.162278
9                 3.500000   2.876235
51                0.166667   0.577350
117               0.000000   0.000000
131               2.416667   2.678478
210               0.333333   0.651339
213               0.000000   0.000000
214               0.250000   0.866025