# <span style="color:darkblue"> Import CSV into SQL </span>

In [2]:
import pandas as pd
from sqlalchemy import create_engine

<font size = "5">

**Step 1:** read the CSV file you want to upload into SQL

In [4]:
members = pd.read_csv('data/us_congress_members.csv')
members

,member_id,full_name,last_name,member_title,state,party_name,chamber
0,0,A. Donald McEachin,McEachin,Representative,Virginia,Democratic,House
1,1,Aaron Schock,Schock,Representative,Illinois,Republican,House
2,2,Abby Finkenauer,Finkenauer,Representative,Iowa,Democratic,House
3,3,Abigail Davis Spanberger,Spanberger,Representative,Virginia,Democratic,House
4,4,Adam H. Putnam,Putnam,Representative,Florida,Republican,House
...,...,...,...,...,...,...,...
1806,1806,Wm. Lacy Clay,Clay,Representative,Missouri,Democratic,House
1807,1807,"Wyche, Jr. Fowler",Fowler,Senator,Georgia,Democratic,House
1808,1808,"Wyche, Jr. Fowler",Fowler,Senator,Georgia,Democratic,Senate
1809,1809,Yvette D. Clarke,Clarke,Representative,New York,Democratic,House
1810,1810,Zell Miller,Miller,Senator,Georgia,Democratic,Senate

<font size = "5">

**Step 2:** create a new SQL connection using the function ```create_engine```

- Make sure you specify your password (in my case 12345), followed by the name of the server (localhost in my case) and the port where the server is listening (5432 in my case)

- Input the name of the database after the slash following the port number (we will use the new ```us_congress``` database)

- The ```connect_args``` option allows us to change the schema where we will upload the CSV data (for this example it is members)

In [4]:
engine = create_engine('postgresql://postgres:12345@localhost:5432/us_congress', connect_args={'options': '-csearch_path=members'})

<font size = "5">

**Step 3:** upload the CSV table to SQL using the ```to_sql``` function:

- First input is the name you want to give to the table

- The second input is the engine we created in the previous step

In [10]:
members.to_sql('us_congress_members', con = engine, if_exists='replace', index=False)

811

<font size = "5">

Try it yourself!

- Import the table "bills_subjects.csv" using the procedure described above

- Import the table "bills_actions.csv" using the procedure described above

In [16]:
# Write your code here
bills = pd.read_csv('data/bills_subjects.csv')
actions = pd.read_csv('data/bills_actions.csv')

In [18]:
engine = create_engine('postgresql://postgres:12345@localhost:5432/us_congress', connect_args={'options': '-csearch_path=bills'})
bills.to_sql('bills_subjects', con=engine,if_exists='replace', index=False)
actions.to_sql('bills_actions', con=engine,if_exists='replace', index=False)

303